/*  Black Deep: #0a0a0a
    Black: #111111
    Black Light: #1c1c1c

    Blue Dark: #00a3d9
    Blue: #00f0ff
    Blue Light: #66faff

    Orange Dark: #ff6600
    Orange: #ff8800
    Orange Light: #ffbb66

    Neon Yellow: #fff200	
    Vivid Orange: #ff6b00	
    Electric Purple: #8000ff	
    Crimson Red: #d1003f	
    Bright Magenta: #ff1ec8	
    Deep Indigo: #2b00ff	
    Acid Lime: #7aff00	
    Pure Black: #000000
*/

/* Tag Selectors */

/* Custom font */

@font-face {
    font-family: "Orbitron";
    src: url("fonts/Orbitron-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Body, contains a background designed as a grid */

body {
    /* Grid background design */
    margin: 0px;
    height: fit-content;
    background-color: #0a0a0a;
    background-image: linear-gradient(#ff8800 1px, transparent 1px), linear-gradient(90deg, #ff8800 1px, transparent 1px);
    background-size: 50px 50px, 50px 50px;
    background-position: center;
    /* Font */
    color: #66faff;
    font-family: 'Orbitron', sans-serif;
    /* Display */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Common tags */

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    margin: 2px;
    padding: 2px;
    color: black;
    font-weight: bold;
}

h4 {
    text-transform: uppercase;
}

p {
    margin: 3px;
    padding: 3px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Button design, based on old arcade buttons */

button {
    background-color: #111111;
    border-style: solid;
    border-color: #ff8800;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    color: #00f0ff;
    text-shadow: 0 0 7px #66faff;
    font-family: 'Orbitron', sans-serif;
}

    button:hover {
        background-color: #1c1c1c;
        border-color: #ffbb66;
        color: #ff8800;
        text-shadow: 0 0 7px #ff6600;
    }

/* Class Selectors */

/* Generic flex class */

.flex-container {
    display: flex;
}

/* Header class */

.header-container {
    background-color: #111111;
    border-style: solid;
    border-width: 4px;
    border-left-color: #00a3d9;
    border-top-color: #00a3d9;
    border-right-color: #66faff;
    border-bottom-color: #66faff;
    padding: 20px;
    margin: 25px;
    text-align: center;
    font-size: large;
    color: #ff8800;
    text-shadow: 0 0 7px #ff6600;
}

/* Main content class */

.main-container {
    background-color: #111111;
    border-style: solid;
    border-width: 4px;
    border-left-color: #00a3d9;
    border-top-color: #00a3d9;
    border-right-color: #66faff;
    border-bottom-color: #66faff;
    padding: 0;
    margin: 25px;
    color: #00f0ff;
}

/* Footer class */

.footer-container {
    background-color: #111111;
    border-style: solid;
    border-width: 4px;
    border-left-color: #00a3d9;
    border-top-color: #00a3d9;
    border-right-color: #66faff;
    border-bottom-color: #66faff;
    padding: 20px;
    margin: 25px;
    text-align: center;
    font-size: large;
    color: #ff8800;
    text-shadow: 0 0 7px #ff6600;
}

/* Game set up buttons container class */

.set-up-buttons-container {
    background-color: #111111;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 4px;
    border-left-color: #00a3d9;
    border-top-color: #00a3d9;
    border-right-color: #66faff;
    border-bottom-color: #66faff;
    padding: 15px;
    margin: 0;
    text-align: center;
    font-size: large;
    color: #ff8800;
}

.game-border-container {
    width: fit-content;
    height: fit-content;
    margin: 10px;
    flex-direction: column;
/*    justify-content: center;*/
}

/*    .game-border-container.flex-container {
        flex-direction: column;
        justify-content: center;
    }*/

/* Game info container class */

.game-info-container {
    background-color: #00f0ff;
    border-style: solid;
    border-width: 6px;
    border-left-color: #00a3d9;
    border-top-color: #00a3d9;
    border-right-color: #66faff;
    border-bottom-color: #66faff;
    min-width: 70px;
    min-height: 70px;
    text-align: center;
    font-size: small;
    color: #111111;
}

/* Game empty container class */

.game-empty-container {
    background-color: #111111;
    border-style: none;
    text-align: center;
    font-size: small;
}

/* Game container class */

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Game container border class */

.game-container-border {
    background-color: #111111;
    border-style: solid;
    border-width: 6px;
    border-left-color: #00a3d9;
    border-top-color: #00a3d9;
    border-right-color: #66faff;
    border-bottom-color: #66faff;
    padding: 5px;
    margin-top: 0px;
    text-align: center;
    font-size: large;
    color: #ff8800;
    width: fit-content;
    height: fit-content;
}

/* Navegation list class */

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

.nav-list.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

    .nav-list li {
        display: inline;
    }

/* Gameplay list class */

.gameplay-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    border-style: solid;
    border-width: 6px;
    border-left-color: #00a3d9;
    border-top-color: #00a3d9;
    border-right-color: #66faff;
    border-bottom-color: #66faff;
}

    .gameplay-list.flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
    }

/* Gameplay classes */

/* Cell class */

.cell {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1px;
    margin: 1px;
    font-size: 1em;
    background-color: #00f0ff;
    border-style: solid;
    border-width: 5px;
    border-left-color: #00a3d9;
    border-top-color: #00a3d9;
    border-right-color: #66faff;
    border-bottom-color: #66faff;
}

/* Revealed Cell class */

.revealed-cell {
    width: 24px;
    height: 24px;
    border-width: 1px;
}

/* Revaled cell classes depending on adjacent mines */

.revealed-x1-cell {
    color: #fff200;
}

.revealed-x2-cell {
    color: #ff6b00;
}

.revealed-x3-cell {
    color: #8000ff;
}

.revealed-x4-cell {
    color: #d1003f;
}

.revealed-x5-cell {
    color: #ff1ec8;
}

.revealed-x6-cell {
    color: #2b00ff;
}

.revealed-x7-cell {
    color: #7aff00;
}

.revealed-x8-cell {
    color: #000000;
}

/* Flagged Cell class */

.flagged-cell {
    background-color: #ff8800;
    border-left-color: #ff6600;
    border-top-color: #ff6600;
    border-right-color: #ffbb66;
    border-bottom-color: #ffbb66;
}

/* Mine Cell class */

.mine-cell {
    width: 22px;
    height: 22px;
    border-width: 1px;
    background-color: #ff8800;
    border-left-color: #ff6600;
    border-top-color: #ff6600;
    border-right-color: #ffbb66;
    border-bottom-color: #ffbb66;
}

/* ID Selectors */

#copy-notice-section {
    color: #ff8800;
    text-shadow: 0 0 7px #ff6600;
}

#board {
    display: grid;
    grid-gap: 2px;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

#game-section {
    display: flex;
    align-items: center;
    justify-content: center;
}